<nav class="sidebar">
  <ul>
    <li class="logo"><span class="icon">X</span></li>
    <li class="active" (click)="navigateToFeed()"><span class="icon material-icons">home</span> Home</li>
    <li><span class="icon material-icons">search</span> Explore</li>
    <li><span class="icon material-icons">notifications</span> Notifications</li>
    <li><span class="icon material-icons">mail</span> Messages</li>
    <li (click)="navigateToGrok()"><span class="icon material-icons">bolt</span> Grok</li>
    <li><span class="icon material-icons">list</span> Lists</li>
    <li><span class="icon material-icons">bookmark</span> Bookmarks</li>
    <li><span class="icon material-icons">work</span> Jobs</li>
    <li><span class="icon material-icons">groups</span> Communities</li>
    <li><span class="icon material-icons">stars</span> Premium</li>
    <li (click)="navigateToProfile()"><span class="icon material-icons">person</span> Profile</li>
    <li (click)="logout()"><span class="icon material-icons">verified</span> Log out</li>
  </ul>
</nav>