h2 {
  margin-bottom: 16px;
  background: #ffffff !important;
  color: #000000 !important;
  
}

mat-dialog-content {
  min-height: 120px;
  min-width: 300px;
  background: #ffffff !important;
}

::ng-deep .mat-mdc-text-field-wrapper,
::ng-deep .mdc-text-field--filled,
::ng-deep .mat-mdc-form-field-flex,
::ng-deep .mat-mdc-input-element {
  background: #ffffff !important;
  color: #000000 !important;
}
